*.pdb
*.ilk
*.exe
*.obj
.vscode
c基础/output
build
blog/_book
blog/node_modules
hexo-blog/DS_Store
hexo-blog/Thumbs.db
hexo-blog/db.json
hexo-blog/*.log
hexo-blog/node_modules/
hexo-blog/public/
hexo-blog/deploy*/